<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.mapper.CommentMapper">

    <resultMap type="com.myblog.entity.Comment" id="CommentMap">
        <result property="commentId" column="comment_id" jdbcType="INTEGER"/>
        <result property="commentUserId" column="comment_user_id" jdbcType="INTEGER"/>
        <result property="commentArticleId" column="comment_article_id" jdbcType="INTEGER"/>
        <result property="commentContent" column="comment_content" jdbcType="VARCHAR"/>
        <result property="commentCreateTime" column="comment_create_time" jdbcType="TIMESTAMP"/>
        <result property="parentCommentId" column="parent_comment_id" jdbcType="INTEGER"/>
        <association property="user" javaType="User">
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userNickname" column="user_nickname" jdbcType="VARCHAR"/>
            <result property="userEmail" column="user_email" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="userHeadPortrait" column="user_head_portrait" jdbcType="VARCHAR"/>
            <result property="userCreateTime" column="user_create_time" jdbcType="TIMESTAMP"/>
            <result property="userRights" column="user_rights" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <!--查询父评论信息通过博客-->
    <select id="queryAllByBlogId" resultMap="CommentMap">
        select comment_id,
               comment_user_id,
               comment_article_id,
               comment_content,
               comment_create_time,
               parent_comment_id,
               user.user_nickname,
               user.user_head_portrait,
               user.user_rights
        from db_myblog.comment,
             db_myblog.user
        where comment_article_id = #{blogId}
          and comment_user_id = user_id
          and parent_comment_id is null;
    </select>
    <!--根据父评论查询所有子评论信息-->
    <select id="queryParentCommentById" resultMap="CommentMap">
        select comment_id,
               comment_user_id,
               comment_article_id,
               comment_content,
               comment_create_time,
               parent_comment_id,
               user.user_nickname,
               user.user_head_portrait,
               user.user_rights
        from db_myblog.comment,
             db_myblog.user
        where comment_user_id = user_id
          and parent_comment_id = #{parentId}
    </select>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from db_myblog.comment
        where comment_id = #{commentId}
    </delete>
</mapper>

