<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.mapper.MessageMapper">

    <resultMap type="com.myblog.entity.Message" id="MessageMap">
        <result property="messageId" column="message_id" jdbcType="INTEGER"/>
        <result property="messageUserNickname" column="message_user_nickname" jdbcType="VARCHAR"/>
        <result property="messageContent" column="message_content" jdbcType="VARCHAR"/>
        <result property="messageCreateTime" column="message_create_time" jdbcType="TIMESTAMP"/>
        <association property="user" javaType="User">
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userNickname" column="user_nickname" jdbcType="VARCHAR"/>
            <result property="userEmail" column="user_email" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="userHeadPortrait" column="user_head_portrait" jdbcType="VARCHAR"/>
            <result property="userCreateTime" column="user_create_time" jdbcType="TIMESTAMP"/>
            <result property="userRights" column="user_rights" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <!--查询所有留言数据-->
    <select id="queryAll" resultMap="MessageMap">
        select message_id, message_user_nickname, message_content, message_create_time
        from message
    </select>

    <!--查询数据总数-->
    <select id="queryAllNumber" resultType="int">
        select count(message_id)
        from db_myblog.message
    </select>

    <!--分页查询指数据-->
    <select id="queryAllByLimit" resultMap="MessageMap">
        select message_id,
               message_user_nickname,
               message_create_time,
               message_content,
               user.user_id,
               user.user_nickname,
               user.user_head_portrait,
               user.user_rights
        from db_myblog.message,
             db_myblog.user
        where message.message_user_nickname = user.user_nickname
        order by message_create_time desc
        limit #{offset}, #{limit}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="messageId" useGeneratedKeys="true">
        insert into db_myblog.message(message_user_nickname, message_content, message_create_time)
        values (#{messageUserNickname}, #{messageContent}, now())
    </insert>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from db_myblog.message
        where message_id = #{messageId}
    </delete>
</mapper>

