<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.mapper.TypeMapper">

    <resultMap type="com.myblog.entity.Type" id="TypeMap">
        <result property="typeId" column="type_id" jdbcType="INTEGER"/>
        <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
        <result property="typeContent" column="type_content" jdbcType="VARCHAR"/>
        <result property="typeCreateTime" column="type_create_time" jdbcType="TIMESTAMP"/>
        <collection property="blogs" ofType="Blog">
            <result property="articleId" column="article_id" jdbcType="INTEGER"/>
            <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
            <result property="articleFirstPicture" column="article_first_picture" jdbcType="VARCHAR"/>
            <result property="articleDescription" column="article_description" jdbcType="VARCHAR"/>
            <result property="articleContent" column="article_content" jdbcType="VARCHAR"/>
            <result property="articleCreateTime" column="article_create_time" jdbcType="TIMESTAMP"/>
            <result property="articleUpdateTime" column="article_update_time" jdbcType="TIMESTAMP"/>
            <result property="articleVisitsCount" column="article_visits_count" jdbcType="INTEGER"/>
            <result property="articleCommentCount" column="article_comment_count" jdbcType="INTEGER"/>
            <result property="articleLikeCount" column="article_like_count" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <!--查询所有分类信息-->
    <select id="queryAll" resultMap="TypeMap">
        select type.type_id,
               type.type_name,
               type.type_content,
               type.type_create_time,
               blog.article_id,
               blog.article_title,
               blog.article_first_picture,
               blog.article_description,
               blog.article_content,
               blog.article_create_time,
               blog.article_update_time,
               blog.article_visits_count,
               blog.article_comment_count,
               blog.article_like_count
        from type
                 left join
             blog_type
             on type.type_id = blog_type.type_id
                 left join
             blog
             on blog_type.blog_id = blog.article_id;
    </select>

    <!--通过分类名查询一个分类的所有信息-->
    <select id="queryByTypeName" resultMap="TypeMap">
        select type.type_id,
               type.type_name,
               type.type_content,
               type.type_create_time,
               blog.article_id,
               blog.article_title,
               blog.article_first_picture,
               blog.article_description,
               blog.article_content,
               blog.article_create_time,
               blog.article_update_time,
               blog.article_visits_count,
               blog.article_comment_count,
               blog.article_like_count
        from type,
             blog,
             blog_type
        where blog_type.type_id = type.type_id
          and blog_type.blog_id = article_id
          and type.type_name = #{typeName};
    </select>
</mapper>

