<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.mapper.TypeMapper">

    <resultMap type="com.myblog.entity.Type" id="TypeMap">
        <result property="typeId" column="type_id" jdbcType="INTEGER"/>
        <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
        <result property="typeContent" column="type_content" jdbcType="VARCHAR"/>
        <result property="typeCreateTime" column="type_create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TypeMap">
        select type_id,
               type_name,
               type_content,
               type_create_time
        from db_myblog.type
        where type_id = #{typeId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TypeMap">
        select type_id,
               type_name,
               type_content,
               type_create_time
        from db_myblog.type
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TypeMap">
        select
        type_id, type_name, type_content, type_create_time
        from db_myblog.type
        <where>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="typeName != null and typeName != ''">
                and type_name = #{typeName}
            </if>
            <if test="typeContent != null and typeContent != ''">
                and type_content = #{typeContent}
            </if>
            <if test="typeCreateTime != null">
                and type_create_time = #{typeCreateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="typeId" useGeneratedKeys="true">
        insert into db_myblog.type(type_name, type_content, type_create_time)
        values (#{typeName}, #{typeContent}, #{typeCreateTime})
    </insert>

    <insert id="insertBatch" keyProperty="typeId" useGeneratedKeys="true">
        insert into db_myblog.type(type_name, type_content, type_create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.typeName}, #{entity.typeContent}, #{entity.typeCreateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="typeId" useGeneratedKeys="true">
        insert into db_myblog.type(type_name, type_content, type_create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.typeName}, #{entity.typeContent}, #{entity.typeCreateTime})
        </foreach>
        on duplicate key update
        type_name = values(type_name) , type_content = values(type_content) , type_create_time =
        values(type_create_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update db_myblog.type
        <set>
            <if test="typeName != null and typeName != ''">
                type_name = #{typeName},
            </if>
            <if test="typeContent != null and typeContent != ''">
                type_content = #{typeContent},
            </if>
            <if test="typeCreateTime != null">
                type_create_time = #{typeCreateTime},
            </if>
        </set>
        where type_id = #{typeId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from db_myblog.type
        where type_id = #{typeId}
    </delete>

</mapper>

